*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background:  #F5EFEF; 
}
/* ********  TEXT FORMATTING  ********* */
h1 {
    font-family: 'Eczar', serif;
    font-weight: 800;
    font-size: 100px;
    background-color:#654335; 
    color: #F5EFEF;
    padding-left: 10%;
}

pre{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-weight: normal;
    font-size: 20px;
    line-height: 26.6px;
    background-color:#654335; 
    color: #F5EFEF ;
    text-align: left;
    padding-top: 5%;
}


/* //////// NAV STYLING ////////// */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 12vh;
    font-family: 'Eczar', serif;
}

.logo{
    color: #371F09;
    font-size: 18px;
    text-decoration: none;
    list-style-type: none;
}

.navLinks{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.navLinks li{
    list-style-type: none;
}

.navLinks a{
    color: #654335;
    text-decoration: none;
    font-size: 16px;
    transition: font-size 0.2s ease-in-out;
}

.navLinks a:hover{
    color:  #654335;
    font-size: 18px;
    font-weight: bolder;
    transition: color 0.2s ease-in-out;
}

.navLinks a:active{
    color: #371F09;
    font-size: 24px;
}


.burger {
    display:none;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color:#371F09;
    margin: 5px;
}

/* //////// NAV STYLING ////////// */

/* //////////////// BUTTONS ////////////////// */
/***************** BUTTONS *******************************************************************/
#prev, #next {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: #654335;
    background-color: #F5EFEF;
    border: 3px solid #654335;
    border-radius: 9px;
    width: 80px;
    height:50px;
    padding-bottom: 14%;
  }
#next:hover{
    color: #F5EFEF;
    background-color: rgb(113, 187, 113);
    border: 3px solid #654335;
}
#prev:hover{
    color: #F5EFEF;
    background-color:rgb(113, 187, 113);
    border: 3px solid #654335;
}
#next:active{
    color: #F5EFEF;
    background-color: rgb(113, 187, 113);
    border: 3px solid #654335;
    width: 85px;
    height:53px;
}
#prev:active{
    color: #F5EFEF;
    background-color: rgb(113, 187, 113);
    border: 3px solid #654335;
    width: 85px;
    height:53px;
}
/* /////////////// BUTTONS /////////////////// */

.box1 {
    background: #F5EFEF;
    padding-bottom: 6%;
}
.box2{
    background: #F5EFEF;
}
.box3{
    background: #F5EFEF;
}

/******************** LAYOUT BOXES ****************************************************************/
main .secondary {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr 6fr 2fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "box1 box1 box1 box1"
    ". box2 box2 ."
    "box2 box3 . ."
}

.box1{
    grid-area: box1;
    
}
.box1 .navlinks{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.box2{
    grid-area: box2;
}
.box3{
    grid-area: box3;
    padding-left: 60%;
}

/* CAROUSEL */
.images-container{
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.card {
    width: 750px;
    height: 400px;
    background-color: plum;
    border: 8px solid #F5EFEF;
    box-sizing: fit-content;
    /* ^^^includes border into card size */

    font-size: 2.5em;
    text-align: center;
}


#innerLayout1{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

#innerLayout2{
    display:flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    text-align: center;
}



/* MEDIA QUERRIES */
@media screen and (max-width: 670px){
    body{
        /* overflow-x: hidden; */
    }
    .navLinks{
        position: fixed;
        right: 0px;
        height: 88vh;
        top: 12vh;
        background-color:#654335;
        background-color:purple;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .navLinks li {
        opacity: 100%;
    }
    .burger{
        display: block;
        padding-left: 40%;
        cursor: pointer;
    }
}
.nav-active{
    transform: translateX(10%)
} /* this is a media query for the nav bar */

@media screen and (max-width: 850px){
    h1 {
        font-weight: 800;
        color: #F5EFEF;
        font-size: 60px;
        line-height: 48px;
        padding: 100px 80px 0px;
        padding-left: 40px;
    }
    p{
        line-height: 80px;
    }
    i{
        background-color: transparent;
    }
    h2 {
        text-align: left;
        font-weight: 800;
        color: #F5EFEF;
        font-size: 60px;
        line-height: 48px;
        padding: 10px 80px 0px;
        padding-left: 0px;
    }
    pre{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
        font-weight: normal;
        font-size: 17px;
        line-height: 24.99px;
        background-color:#654335; 
        color: #F5EFEF;
        padding-top: 5%;
        padding-right: 15%;
    }
    #prev, #next {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 40px;
        color: #654335;
        background-color: #F5EFEF;
        border: 3px solid #654335;
        border-radius: 9px;
        width: 80px;
        height:50px;
        padding-bottom: 2%;
      }
}

@media screen and (max-width: 850px){
img {
    width:300px;
    height:388px; 
}
main .secondary {
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 5fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "box1 box1 box1 box1"
    ". box2 box2 ."
    "box3 box3 box3 box3"
}
.box3{
    grid-area: box3;
    padding-left: 35%;
}
}


@media screen and (max-width: 850px){
h1 {
    background-color:#654335;;
    color:#F5EFEF;
}
.card {
    width: 500px;
    height: 366px;
    background-color:#654335;
    border: 8px solid #F5EFEF;   
    box-sizing: fit-content;
    /* ^^^includes border into card size */

    text-align: left;
}
}
